<div class="sidebar">
    <input
        type="checkbox"
        id="sidebar__checkbox"
    >
    <label for="sidebar__checkbox">
        <img
          src="{{site.baseurl}}/assets/icons/three-lines-button.png"
          class="sidebar__checkbox__img"
        />
    </label>

    <div class="sidebar__menu">
        <ul>
          <li><a href="{{site.baseurl}}/"><i class="fas fa-home"></i> 홈</a></li>
            <li><a href="https://www.facebook.com/lunacoding"><i class="fab fa-facebook"></i> 페이스북</a></li>
            <li><a href="https://lunacoding.com"><i class="fas fa-moon"></i> 인트로</a></li>
        </ul>
    </div>
</div>
