<div class="sidebar">
    <input
        type="checkbox"
        id="sidebar__checkbox"
    >
    <label for="sidebar__checkbox">
        <img
            src="/assets/icons/three-lines-button.png"
            class="sidebar__checkbox__img"
        />
    </label>

    <div class="sidebar__menu">
        <ul>
            <li><a href="/">홈</a></li>
            <li><a href="https://www.facebook.com/lunacoding">페이스북</a></li>
            <li><a href="https://lunacoding.com">인트로</a></li>
        </ul>
    </div>
</div>