body, html {
    margin: 0;
    height: 100%;
}

#background__container {
    position: relative;

    background-image: url("/assets/images/background.png");
    background-size: cover;

    height: 80%;

    #logo__img {
        position: absolute;  

        max-height: 100%;  
        max-width: 100%; 

        width: 25em;

        top: 0;  
        bottom: 0;  
        left: 0;  
        right: 0;  

        margin: auto;
    }
}

#luna_logo__img {
    display: block;

    margin-left: auto;
    margin-right: auto;

    transform: translateY(-50%);

    width: 6em;
}