@font-face {
    font-family: 'Nanum Gothic';
    src: url("/assets/fonts/Nanum\ Gothic.ttf");
}

@font-face {
    font-family: 'Nanum Barun Gothic';
    src: url("/assets/fonts/Nanum\ Barun\ Gothic\ Regular.ttf");
}