@font-face {
    font-family: 'Nanum Gothic';
    src: url("/assets/fonts/나눔고딕.ttf");
}

@font-face {
    font-family: 'Nanum Barun Gothic';
    src: url("/assets/fonts/나눔바른고딕\ Regular.ttf");
}