@font-face {
  font-family: 'Nanum Gothic';
  src: url("/youngmaker/assets/fonts/Nanum Gothic.ttf");
}

@font-face {
  font-family: 'Nanum Barun Gothic';
  src: url("/youngmaker/assets/fonts/Nanum Barun Gothic Regular.ttf");
}
