.header {
  position: relative;
  background-image: url("/youngmaker/assets/images/background.png");
  background-size: cover;
  height: 80%;

  .header__cali_logo {
    position: absolute;
    max-height: 100%;
    max-width: 100%;
    width: 25em;

    @media screen and (max-width: $mobile-width) {
      width: 20em;
    }

    @media screen and (max-width: 320px) {
      width: 17em;
    }

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}

.header__logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(-50%);
  width: 6em;
}

.header__nav {
  text-align: center;
  margin-top: -0.5em;

  a {
    color: #212529;
    padding: 0 1em;
    border-radius: 10px;
    text-decoration: none;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
    line-height: 1.75em;

    & + a {
      margin-left: 0.5em;
    }

    transition-property: background-color, color;
    transition-duration: 0.1s;

    &:hover {
      background-color: black;
      color: white;
    }
  }
}
