.posts {
    list-style-type: none;
    padding: 0;
}

.posts__post {
    margin-bottom: 3em;
    font-size: 1.3em;

    .posts__post__title {
        margin-bottom: 0.3em;
    }
    
    .posts__post__date {
        color: #adb5bd;
    }

    hr {
        border: none;
        border-bottom: 1px solid #adb5bd;
    }
}