.sidebar {
    input[type="checkbox"] {
        display: none;
    }

    input[type="checkbox"] ~ .sidebar__menu {
        position: fixed;
        top: 3em;

        height: 100%;
        width: 15em;

        background-color: white;
        border-right: 1px solid #dee2e6;

        transform: translateX(-15em);

        transition-property: transform box-shadow;
        transition-duration: 0.5s;

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;

            li {
                text-align: center;
                padding: 0.5em 0;

                border-bottom: 1px solid #dee2e6;

                transition: all 0.1s;

                a {
                    display: block;

                    font-family: 'Nanum Barun Gothic', sans-serif;
                    font-size: 1.2em;

                    text-decoration: none;

                    color: #495057;
                }
            }

            li:hover {
                background-color: #ccccff;
            }
        }
    }

    input[type="checkbox"]:checked ~ .sidebar__menu {
        display: block;

        box-shadow: 0 4px 8px 0 grey;

        transform: translateX(0);
    }

    label[for="sidebar__checkbox"] {
        .sidebar__checkbox__img {
            position: fixed;
            top: 0.5em;
            left: 1em;

            width: 2em;
        }
    }
}