.topbar {
    position: fixed;

    height: 3em;
    width: 100%;

    background-color: #ccccff;
    background-image: url("/assets/images/luna_logo.png");
    background-size: 2.2em 2.4em;
    background-repeat: no-repeat;
    background-position: center center;
}